@import "vars";

.all-items{
	background-color: #f4f6f5;
	padding-bottom: 100px;
}
.breadcrumbs{
	padding: 45px 0px 40px;
}
.breadcrumbs-items{
	display: inline-block;
	position: relative;
	a{
		color: #b0bec5;
		line-height: 40px;
	}
	span{
		color: $fon;
	}
	& + .breadcrumbs-items{
		padding-left: 24px;
		&:before{
			content: '';
			position: absolute;
			background-color: $green;
			width: 5px;
			height: 1px;
			left: 8px;
			top: 50%;
		}
	} 
}
.categories,
.price-range,
.top-sellers{
	border: 1px solid $border;
	background-color: #fff;
	padding: 0px 30px 20px;
	margin-bottom: 30px;
}
.categories__title,
.price-range__title,
.top-sellers__title{
	color: $fon;
	font-size: 20px;
	font-weight: 700;
	border-bottom: 1px solid $border;
	line-height: 60px;
	margin-bottom: 10px;
}
.categories__item{
	a{
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
	}
}
.categories__name{
	color: $fon;
	position: relative;
	padding-left: 20px;
	&:before{
		content: "\f105";
		font-family: 'icomoon';
		position: absolute;
		left: 0;
		color: $green;
		font-size: 14px;
	}
}
.categories__number{
	color: $text;
}
.price-range__slider{
	.irs--round .irs-bar{
		background-color: $fon;
	}
	.irs--round .irs-line{
		background-color: $border;
	}
	.irs--round .irs-handle{
		width: 16px;
		height: 16px;
		border-color: $green;
		top: 30px;
	}
	.irs-from, .irs-to, .irs-single{
		top: 60px;
		background-color: transparent;
		border: none;
		color: $text;
		font-size: 15px;
		&:before{
			display: none;
		}
	}
	.irs-min, .irs-max{
		display: none;
	}
}
.price-range__btn,
.top-sellers__btn{
	margin-top: 50px;
	margin-bottom: 10px;
	border: none;
	background-color: $green;
	width: 100%;
	padding: 10px 0;
	line-height: 40px;
	color: #fff;
	font-weight: 500;
	text-align: center;
	span{
		padding-left: 25px;
		position: relative;
		&:before{
			content: "\f002";			 
			position: absolute;
			left: 0;
			font-family: 'icomoon';
		}
	}
}
.top-sellers__item{
	border-bottom: 1px solid $border;
}
.item__title{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.item{
	img{
		max-width: 100%;
		width: 100%;
	}
}
.item__name{
	a{
		color: $fon;
		font-size: 16px;
		font-weight: 700;
		& + a{
			color: $green;
			font-weight: 500;
		}
	}
}
.item__price{
	color: $fon;
	font-size: 16px;
	font-weight: 700;
	padding-top: 10px;
}
.item__title-description{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 30px;
}
.stars{
	color: #ffa726;
	font-size: 12px;
	li{
		display: inline-block;
	}
}
.item__title-description-name{
	img,
	span{
		vertical-align: middle;
	}
	img{
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}
	span{
		font-size: 14px;
		color: #546e7a;
		padding-left: 10px;
		font-weight: 500;
	}
}
.top-sellers__item{
	margin-top: 25px;
	&:last-child{
		margin-bottom: 0;
		border-bottom: none;
	}
}
.top-sellers__btn{
	margin-top: 20px;
}
.pagination__item{
	display: inline-block;
	& + .pagination__item{
		padding-left: 4px;
	}
	a{
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		color: $fon;
		font-size: 16px;
		background-color: #fff;
		font-weight: 500;
	}
	.active{
		background-color: $orange;
	}
}


